@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer componets {
  .context_menu {
    @apply 
    absolute 
    font-roboto font-medium text-xs text-gray-600 dark:text-gray-300
    bg-gray-100 dark:bg-dark-200 
    rounded-md    
    w-40 
    z-10 overflow-hidden
  }

  .context_menu_child {
    @apply border border-solid border-gray-200 py-2 px-4 hover:bg-cyan-600 hover:text-gray-100 cursor-pointer
  }
}

@layer utilities {
  .shadow-box {
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(133, 133, 133, 0.7));
    filter: drop-shadow( 3px 3px 2px rgba(136, 136, 136, 0.7));
    /* Similar syntax to box-shadow */
  }
  
  .shadow-box-none {
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(58, 58, 58, 0.7));
    filter: drop-shadow( 3px 3px 2px rgba(56, 56, 56, 0.7));
  }

  .border-test {
    outline: 1px solid red;
    outline-offset: 4px;
    margin-top: 5px;
    margin-left: 5px;
  }
     
}