@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  --color-accent: #54C3F0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer componets {
  .timelapse__tag { @apply font-roboto font-semibold text-xs }
}

@layer utilities {
  
  .node rect {
    fill-opacity: .9;
    shape-rendering: crispEdges;
  }

  .node text {
    pointer-events: none;
    text-shadow: 0 1px 0 #fff;
  }

  .link {
    fill: none;
    stroke: #b5b5b591;
    cursor: pointer;
  }

  .link:hover {
    stroke-opacity: .5;
  }

  .shadow {
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(133, 133, 133, 0.7));
    filter: drop-shadow( 3px 3px 2px rgba(136, 136, 136, 0.7));
    /* Similar syntax to box-shadow */
  }


  .border-test {
    outline: 1px solid red;
    outline-offset: 4px;
    margin-top: 5px;
    margin-left: 5px;
  }

  .links__link--repeat {
    fill: none;
    stroke: #efd64691;
    cursor: pointer;
  }
  
  .links__link--success {
    fill: none;
    stroke: #7b85e465;
    cursor: pointer;

  }
  
  .links__link--dropout {
    fill: none;
    stroke: #f8424291;
    cursor: pointer;
  }

  .links__link--student {
    fill: none;
    stroke: #87ff0f91;
    cursor: pointer;
  }

}